.Site-header{
	height: 75px;
	 -moz-background: linear-gradient(to right, $color_2 35%, $color_3);
    -webkit-background: linear-gradient(to right, $color_2 35%, $color_3);
    background: linear-gradient(to right, $color_2 35%, $color_3);


  //background: linear-gradient(50deg, $color_2 20%, $color_3);

  // background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
  //           linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
  //           linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);


	@media screen and (min-width: $break-sm){
		&-branding{
		
		}
		
	}
	&-brandingContainer{
		height:auto;
	}

}


.Branding{
	&--img{
	
	}
	
}
