
//==============================
// Variables
//==============================

//== colors tests =================

$color_1: #FFFFFF;
$color_2: #00707e;
$color_3: #ff8416; // Laranja
$color_4: #00707e; // azul médio
$color_5: #00707e; // azul/verde partido novo
$color_6: #f8d200; // amarelo
$color_7: #f0f0f0;
$color_8: #EEEEEE; // cinza claro
$color_9: #999999;
$color_10: #777777;
$color_11: #c9e7ff; // azul claro
$color_12: #f75628; // Laranja Rodrigo
$color_13: #fef3d7; // Amarelo Claro
$color_14: #093e5f; // azul escuro





//== Utilities =================
//Colors
$cor_lilas: #4f4872;
$cor_yellow: #feb933;

//Fonts
$fontFamily: "Raleway";
$font_size_text: 18px;
$font_size_title_section: 30px;
$font_size_subtitle_section: 20px;
$font_size_title_item: 24px;
$font_size_subtitle_item: 18px;

//== Layout =====================
//Regular Content
$h_spacing: 4.166666666666667%;
$v_spacing: 37.5px;

//== Sizes =====================

//Natural
$numColumns: 24;
$sizeColumns: 4.166666666666667%;
$sizeColumns_px: 50px;



//==============================
// Components
//==============================



//==============================
// Variables in queries
//==============================


$break-sm: 768px;
$break-md: 960px;
$break-lg: 1200px;
$break-ex: 1400px;


//==============================
// Animate
//==============================
$time_animate: 0.5s; 